@model IEnumerable<ProvaTecnica.Models.RegistrosPontos>

@{
    ViewData["Title"] = "Relatorio";
}

<h1>Relatório</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                Usuário
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="IndexReport" class="btn btn-primary">Voltar</a>